@import url("custom.css");
/*@import 'https://fonts.googleapis.com/css?family=Source+Sans+Pro';
    @import 'https://fonts.googleapis.com/css?family=Allura';
    @import 'https://fonts.googleapis.com/css?family=Cookie';
    @import 'https://fonts.googleapis.com/css?family=Roboto:300,400';*/
body{
    margin: 0;
    font-family: "Open Sans",'Source Sans Pro', sans-serif;
    font-size: 15px;
    font-weight: 300;
    color: #676464;
}
h2{
  font-family: 'Josefin Sans';
}
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.iheader{
    padding: 0 20px 0 20px;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    -webkit-transition: height 0.3s;
    -moz-transition: height 0.3s;
    -ms-transition: height 0.3s;
    -o-transition: height 0.3s;
    transition: height 0.3s;
}

.fheader{
    z-index: 11111;
    position: fixed;
    left: 0;
    right: 0;
    padding: 0 20px 0 20px;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    -webkit-transition: height 0.3s;
    -moz-transition: height 0.3s;
    -ms-transition: height 0.3s;
    -o-transition: height 0.3s;
    transition: height 0.3s;
}


.tagline{
    color: white;
    font-family: 'Cookie', cursive;
    font-size: 45px;
    text-align: center;
}

.head-border{
    border-bottom: 1px solid #f5f5f5;
    background: #fbfbfb;
}

.mycontainer{
    background: #f7f7f7;
    min-height: 100vh;
    /*background:rgba(128, 128, 128, 0.08);*/
}

.top{
    /*background-size: cover;*/
    /*background-position: 50% 50%;*/
    /*background: url('../img/infinia/wall2.jpg');*/
}

.place-button{
    border-radius:5px;
    background-color: #ff9800;
    color: white;
    font-size: 25px;
    width: 150px;
    height: 50px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.active-button{
    border-radius: 5px;
    color: white;
    font-size: 18px;
    width: 250px;
    height: 38px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.cat-button{
    margin-left: 220px;
}

.active-color{
    background: #ff9800;
}

.all-places{
    position: absolute;
    margin-top: 51px;
    width: 250px;
    text-align: right;
    background: #ff9800;
}

.passive-color{
    background: #bfbbb4;
}

.slider{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1080px;
    margin: auto;
}

.tag{
    flex: 6
}

.tag-text{
    text-transform: uppercase;
    font-size: 35px;
    font-weight: 600;
    color: #2196F3;
    margin-bottom: 15px;
}

.search-input{
    border: 1px solid whitesmoke;
    height: 30px;
    border-radius: 2px;
    width: 210px;
    padding: 2px;
    padding-left: 5px;
}

.blue{
    color: #2196F3;
}

.orange{
    /*color: #ff9800*/
}
.girl{
    margin-top: 20px;
}

.place-drop{
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
}

.link{
    text-decoration: none;
    color: inherit;
}
.link:hover, .link:active, .link:focus{
    text-decoration: none;

}

.grey{
    background-color: #fafafa;
}

.fheader.smaller{
    height: 75px;
    -webkit-box-shadow: 0px 0px 5px 1px #aaaaaa;
    -moz-box-shadow: 0px 0px 5px 1px #aaaaaa;
    box-shadow: 0px 0px 5px 1px #aaaaaa;
}

.imenu{
    /*height: 150px;*/
    display: flex;
    align-items: center;
    width: 75%;
    margin: 20px;
    justify-content: flex-end
}

.ilogo{
    /*max-height: 100px;*/
    /*max-width: 100px;*/
    display: flex;
    align-items: center;
    /*justify-content: center;*/
    margin: 20px;
    width: 100%;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.ilogo img{
    width: 80px;
}

.iheader.smaller .ilogo img {
    width: 60px;
}

.ilogo-text{
    font-family:'Ubuntu';
    font-size: 30px;
    text-decoration: none;
    font-weight: 300;
}

.imenu-list{
    cursor: pointer;
    margin: 15px;
    position: relative;
    /*color: #a6aaad*/
}

.menu-button{
    background: #4cae4c;
    color: white;
    padding: 3px 8px 4px 8px;
    border-radius: 2px;
}

.scroll-down{
    position: absolute;
    top: 15px;
    right: 35px;
    float: right;
    color: #FFF;
}

.scroll-down-box{
    cursor: pointer;
    margin: 10px;
    width: 40px;
    background: #FE980F;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: bounce 2s ease infinite;
}

.icontents{
    width: 100%;
    max-width: 1080px;
    margin: auto;
    height: auto;
}

.full-width{
    margin: auto;
    position: relative;
    width: 100%;
    padding: 25px;
    max-width: none;
    background-color: rgb(30, 144, 255);
}

.itagline{
    font-size: 30px;
    font-weight: 600;
    height: 280px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #03A9F4;
}

.ninty{
    margin-top: 90px;
}

.iselect{
    width: 100%;
    max-width: 1080px;
    margin: auto;
}

.icat{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.ilabel{
    width: 100%;
    float: left;
}

.icategory{
    border: 1px solid #f2f0f0;
    height: 240px;
    width: 240px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    font-weight: 600;color: #ffffff;

    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.cat-large{
    border: none;
    width: 270px
}

.cat-small{
    width: 200px;
    height: 200px;
    border: none;
    margin: 10px

}

.icategory:hover{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.sup{
    background-image: url('../img/infinia/0.jpg');
    background-size: cover;
}

.kid{
    background-image: url('../img/infinia/1.jpg');
    background-size: cover;
}

.fas{
    background-image: url('../img/infinia/2.jpg');
    background-size: cover;
}

.ele{
    background-image: url('../img/infinia/3.jpg');
    background-size: cover;
}

.cat-title{
    cursor: pointer;
    /*border: 2px solid dodgerblue;*/
    background-color: transparent;
    color: #ffffff;
    padding: 2px 12px 2px 12px;
    border-radius: 2px;
}

.cat-title:hover{
    color: #ffffff;
    background-color: dodgerblue;
}

.iplaces{
    color: #8bc34a;
    margin-left: 10px;
    cursor: pointer;
}

.current-place{
    border-bottom: 2px solid;
}

.icontainer{
    height: 100vh;
    /*background-size: cover;*/
    background: rgba(250, 250, 250, 0.13);
    /*height: inherit;*/
}

.ideals{
    margin-top: 50px;
    /*height: 300px;*/
}


.ideals-title{
    color: dodgerblue;
    font-size: 25px;
    font-weight: 600;
}

.deal-list{
    border: 1px solid rgba(189, 189, 189, 0.32);
    display: flex;
    height: 70px;
    align-items: center;
    margin-top: 8px;
    margin-bottom: 8px;
}

.deal-img{
    width: 35px;
    margin: 10px;
}

.ifooter{
    background: rgba(189, 189, 189, 0.32);
    padding: 10px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    /*position: absolute;*/
    bottom: 0;
    left: 0;
    right: 0;
}

.main-content{
    /*position: relative;*/
    margin: auto;
    margin-top: 95px;
    max-width: 1280px;
    display: flex;
}

.deals{
    padding: 5px !important;
}

.deal{
    cursor: pointer;
    margin-top: 5px;
    margin-bottom: 5px;
}

.deal-thumb{
    text-align: center;
    width: 100%;
    height: 100px;
    overflow: hidden;
}

.deal-thumb img{
    width: 100%;
}

.deal-details{
    font-size: 12px;

}

.deal-title{
    color: dodgerblue;
    font-size: 15px;
}

.bread-crumb{
    /*font-family: "Open Sans";*/
    height: 40px;
    background: #0074D9;
    width: 100%;
    display: flex;
    align-items: center;
    padding-left: 40px;
    color: white;
    position: relative;
    top: 90px;
}

.line{
    width: 100%;
    height: 2px;
    background: #f7f7f7;
    margin-top: 2px;
    margin-bottom: 2px;
}

.content-title{
    font-family: 'Josefin Sans';
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    height: 50px;
}
.content-title h2{
  font-size: 25px;
  color: #357ebd;
}

.store-title{

}

.store-basket{
    border: 1px solid #f7f7f7;
    min-height: 200px;
}

.store-basket-icon{
    width: 150px;
    height: inherit;
    margin: 10px 10px;
    text-align: center;
    float: left;
    /*border-right: 1px solid #f7f7f7;*/

}

.flex{
    display: flex;
    align-items: center;
}

.store-basket-icon img{
    width: 100%;
}

.basket-items{
    padding-left: 160px;
}

.item-total{
    width: 80px;
    color: dodgerblue;
}

.item-remove{
    width: 70px;
    color:#e9021d;
}

.basket-item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 61px;
    margin: 10px 0;
}

.basket-item .thumb{
    width: 60px;
    float: left;
    margin-right: 10px;
}

.item-details .item-price{
    font-weight: 600;
    color: rgba(30, 144, 255, 0.83);
}

.basket-item .thumb img{
    width: 100%;
}

.basket-item .item-details{
    padding-left: 70px;
    display: block;
}

.bread-crumb .select-location, .select-cat{
    margin-right: 10px;
}

.sidebar-left{
    font-family: "Open Sans";
    width: 225px;
    min-width: 225px;
    margin-right: 5px;
}

.content-title .search-input{
    /*background: #f7f7f7;*/
    outline: none;
    border: 1px solid rgba(0, 116, 217, 0.45);
}

.search-box{
    position: relative;
}

.center-content{
    padding-top:0 !important;
}

.sidebar-right{
    width: 225px;
    min-width: 225px;
    margin-left: 5px;
}

.search-icon{
    position: absolute;
    right: 5px;
    top: 6px;
}

.search-icon img{
    width: 20px;
}

.sidebar-title{
    /*font-weight: 600;*/
    font-family: 'Josefin Sans';
    font-size: 25px;
    color: #357ebd;
}

select {
    padding: 5px 35px 5px 5px;
    font-size: 14px;
    border: none;
    color: white;
    height: 34px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background:  rgb(0, 116, 217);
    outline: none;
}

.card{
    background: #fff;
    padding: 10px;
    overflow: hidden;
    width: 100%;
    margin-top: 2px;
    margin-bottom: 2px;
}

.boxes{
    display: table;
    table-layout: fixed;
    width: 100%;
    /*align-items: center;*/
    /*justify-content: space-around;*/
    /*flex-wrap: wrap;*/
}

.pink{
    background: deeppink !important;
}

.b-blue{
    background: dodgerblue !important;
}

.green{
    background: green !important;
}

.select-box{
    margin-right: 5px;
    display: table-cell;
}

.check-list{
    height: 25px;
    display: flex;
    align-items: center;
}

.checkbox{
    margin-top: 5px;
    margin-right: 5px
}

.options-button{
    margin: 5px;
    color: white;
    text-align: center;
    border-radius: 2px;
    padding: 3px;
    cursor: pointer;
}

.selected{
    background: #ff9800;
}

.not-selected{
    background: #a6b0b9;
}

.all-stores{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.store{
    cursor: pointer;
    width: 200px;
    height: 245px;
    background-color: #fff;
    box-shadow: 0 0px 1px rgba(0, 0, 0, .25);
    margin: 20px;
    overflow: hidden;
}

.store:hover{
    box-shadow: 0 2px 8px rgba(0, 0, 0, .25);
}

.store img{
    width: 200px;
    height: 180px;
    overflow: hidden;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.store-thumb{
    width: 200px;
    height: 180px;
    overflow: hidden;
}

.store img:hover{
    /*-webkit-transform: scale(1.1);*/
    /*transform: scale(1.1);*/
}

.store-details{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 60px;
}

.store-name{
    cursor: pointer;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    color: #0074d9;
    width: 100%;
}

.store-address{
    text-align: center;
    font-size: 15px;
    color: #999a9b;;
}

.store-image{
    width: 100%;
    border: 1px solid #f7f7f7;
    /*height: 250px;*/
}

.store-image img{
    width: 100%;
}

.store-profile-name{
    font-size: 23px;
    margin-top: 10px;
    color: dodgerblue;
}

.store-profile-address{
    color: #9E9E9E;
    font-size: 14px;
}

.store-profile-content{
    color: #9E9E9E;
    margin-top: 3px;
}

.relative{
    position: relative;
}

.absolute-search{
    position: absolute;
    right: 0px;
    top: -3px;
}

.react-tabs [role=tab][aria-selected=true]{
    background: #f7f7f7;
    border-color: #f7f7f7;
    border-bottom: 2px solid #0074D9;
    color: #303030;
}
.main-tab [role=tab][aria-selected=true]{
    background: #f7f7f7;
    border-color: #f7f7f7;
    /*border-bottom: 2px solid #0074D9;*/
    color: #303030;
}

.myslider .react-tabs ul{
    margin-left: 20px;
    position: relative;
    border-bottom: 2px solid #f7f7f7;
    left: 0;
    height: 120px;
    width: 1200px;
    list-style: none;
    -webkit-transition: 0.5s left;
    -moz-transition: 0.5s left;
    -ms-transition: 0.5s left;
    -o-transition: 0.5s left;
    /*list-style: none;*/
    /*margin: 0;*/
    /*padding: 0;*/
}
.myslider .react-tabs > ul > li{
    width: 126px;
    height: 115px;
    float: left;
    /*display: inline;*/
}
a.control_prev, a.control_next {
    position: absolute;
    z-index: 999;
    display: block;
    padding: 6% 2%;
    width: 10px;
    height: auto;
    background: #fff;
    color: #737373;
    text-decoration: none;
    opacity: 1;
    cursor: pointer;
}

a.control_prev:hover, a.control_next:hover {
    color: #000;
    -webkit-transition: all 0.2s ease;
}

a.control_prev {
    border-radius: 0 2px 2px 0;
}

a.control_next {
    right: 0;
    border-radius: 2px 0 0 2px;
}


/*//Store items*/
.items{
    width: 100%;
}

.item{
    width: 100%;
    /*max-height: 300px;*/
}

.item-title{
    font-size: 17px;
    margin: 5px 0px;
}

.item-thumbnail{
    width: 175px;
    float: left;
    overflow: hidden;
}

.item-thumbnail img{
    width: 100%;
    border: 2px solid #e7e5e5;
    border-radius: 2px;
}

.item-details{
    /*-webkit-transition:all .2s ease-in-out;*/
    /*transition:all .2s ease-in-out;*/
    width: 100%;
    display: flex;
    text-align: left;
}

.item-options{
    width: 200px;
}

.item-options .option{
    width: 100%;
    margin: 0 10px;
}

.item-options .option select{
    background: white;
    color: #676464;
    width: 100%;
    border: 1px solid #9E9E9E;
    border-radius: 2px;
    padding: 4px 5px;
    margin: 3px 0px;
    height: inherit;
}

.item-add{
    width: 200px;
}

.item-option{
    border: 1px solid grey;
    border-radius: 2px;
    padding: 4px 5px;
    margin: 3px 10px;
}


.item-cat{
    width: 180px;
    margin: 10px;
    border: 1px solid rgba(158, 158, 158, 0.33);
    height: 170px;
}

.item-cat :hover{
    /*box-shadow: 0 2px 8px rgba(0, 0, 0, .25);*/
}

.items-container{
    display: flex;
    flex-wrap: wrap;
}

.item-name{
    font-size: 20px;
    text-align: center;
}

.item-thumb img{
    width: 100%;
    height: 135px;
    overflow: hidden;
}

.item-hover-card{
    overflow: hidden;
    position: relative;
    width: 180px;
    margin: 10px;
    margin-bottom: 20px;
    height: 240px;
}

.item-hover-card-thumb{
    position: relative;
}

.cart-counter{
    color: dodgerblue;
    right: 5px;
    top: 5px;
    display: none;
    position: absolute;
    /*-webkit-transition:all 0.6s ease-in-out;*/
    /*transition:all 0.6s ease-in-out;*/
}

.cart-counter > img{
    width: 20px !important;
    height: 20px !important;
    margin-right: 5px;
}

.margin10{
    margin: 10px 0;
}

.click{
    cursor: pointer;
}

.box{
    /*font-size: 22px;*/
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #e5e4e2;
    border-radius: 2px;
    color: #ff5722;
}

.box:hover{
    color: white;
    background: #ff5722;
}

.count{
    font-size: 18px;
    width: 40px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.item-add-cart{
    /*display: none;*/
    display: flex;
    /*align-items: center;*/
    /*justify-content: center;*/
    margin: 10px;
}
.item-hover-card .item-details{
    position: absolute;
    display: inline;
    /*text-align: center;*/
    bottom: -130px;
    -webkit-transition:all .35s ease;
    transition:all .35s ease;
}

.item-hover-card:hover .item-details{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0px;
    background: rgba(255, 255, 255, 0.95);

}
.item-hover-card-thumb img{
    width: 100%;
    height: 180px;
    overflow: hidden;
}

.item-hover-card:hover {
    box-shadow: 0 2px 8px rgba(0, 0, 0, .25);
}

.item-hover-card:hover .item-add-cart{
    /*display: flex;*/
}

.item-hover-card:hover .cart-counter{
    display: flex;
}


.item-hover-card .item-details .item-name{
    text-align: left;
    padding-top: 5px;
    margin-left: 10px;
    font-size: 17px;

}

.item-hover-card .item-details .item-description{
    border-top:solid 1px #e3e3e3 ;
    color: #646464;
    font-size: 13px;
    padding-left: 10px;
    padding-top: 7px;
    /*text-align: left;*/
    /*opacity: 0;*/
    /*margin-left: 25px;*/
    /*display: none;*/
    /*-webkit-transition:opacity 0.9s linear;*/
    /*!*-webkit-transition-delay: 0.2s;*!*/
    /*transition:opacity 0.9s linear;*/
    /*transition-delay: 0.2s;*/
}
.item-hover-card:hover .item-description{

    /*opacity: 1;*/
    /*!*margin-left: 25px;*!*/
    /*display: flex;*/
    /*visibility: visible;*/
}
.item-hover-card .item-details .item-price{
    text-align: left;
    margin-left: 10px;
    margin-bottom: 5px;
}


.item-category{
    font-size: 18px;
    margin-bottom: 5px;
    margin-top: 15px;
}

.item-card-thumb img{
    width: 100%;
    height: 180px;
    overflow: hidden;
}

.all-items-list{
    display: flex;
    /*align-items: center;*/
    /*justify-content: space-around;*/
    flex-wrap: wrap;
}
.item-card{
    width: 230px;
    height: 350px;
    margin-right: 10px;
}

.fixed-bottom{
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 270px;
    background: #ff9800;
    color: white;
    padding: 7px 15px;
    border-radius: 2px;
}

.proceed-button{
    cursor: pointer;
    background: #ff9800;
    color: white;
    padding: 7px 15px;
    border-radius: 2px;
}

/*target Internet Explorer 9 and Internet Explorer 10:*/

@media screen and (min-width: 0\0) {
    select {
        background: none;
        padding: 5px;
    }
}

.place{
    color: white;
    margin-right: 10px;
    cursor: pointer;
}
.place:hover{
    color: dodgerblue;
}

.head-cart-count{
    color: white;
    position: absolute;
    background: #ff9800;
    height: 22px;
    text-align: center;
    right: -7px;
    top: -5px;
    width: 22px;
    border-radius: 50%;
}


.login-container{
    align-items: center;
    display: flex;
    width: 350px;
    margin: auto;
}

.login-form{
    width: 100%;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .25);
    padding: 10px 30px;
    background: white;
    border-radius: 2px;
}

.form-group{
    margin: 5px 0;
}

.submit-button{
    width: 100%;
    height: 35px;
    margin: 15px 0;
    background: #FF9800;
    border: none;
    color: white;
    font-size: 16px;
    font-weight: 400;
    border-radius: 2px;
}

.form-input{
    background: transparent;
    width: 100%;
    border: 1px solid rgb(212, 212, 212);
    height: 30px;
    border-radius: 2px;
    padding: 2px;
    margin: 5px 0;
    padding-left: 5px;
}


.form-title{
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 10px;
}

.form-options{
    font-size: 13px;
}

.forget{
    float: right;
}

.remember{
    float: left;
}

.social-label{
    width: 100%;
    text-align: center;
}

.social-options{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 5px 0;
}

.facebook{
    background-color: #3856a0;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    height: 40px;
    width: 130px;
    border-radius: 2px;
}

.facebook img{
    width: 15px;
    margin: 5px;
}

.google{
    background-color: #dd4330;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    height: 40px;
    width: 130px;
    border-radius: 2px;
}

.google img{
    width: 20px;
    margin: 5px;
}

.social-label{
    font-size: 13px;
}

.login-switch{
    margin-top: 10px;
    font-size: 13px;
    text-align: center;
}

.rc-dialog-wrap{
    z-index: 111111;
}

.rc-dialog-mask{
    z-index: 11111;
}

.rc-dialog-close{
    top: 25px;
    right: 30px;
}

.center{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.iplaces-list{

    opacity: 0.2;
    -webkit-animation: fadein 2s; /* Safari and Chrome */
    -moz-animation: fadein 2s; /* Firefox */
    -ms-animation: fadein 2s; /* Internet Explorer */
    -o-animation: fadein 2s; /* Opera */
    animation: fadein 2s;
}

@keyframes fadein {
    from { opacity: 0.2; }
    to   { opacity: 1; }
}

/* Firefox */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari and Chrome */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@keyframes bounce {
    0%,
    100%,
    20%,
    50%,
    80% {
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }
    40% {
        -webkit-transform: translateY(-10px);
        -ms-transform: translateY(-10px);
        transform: translateY(-10px);
    }
    60% {
        -webkit-transform: translateY(-5px);
        -ms-transform: translateY(-5px);
        transform: translateY(-5px);
    }
}
