@import url("custom.css");
/*@import 'https://fonts.googleapis.com/css?family=Source+Sans+Pro';
    @import 'https://fonts.googleapis.com/css?family=Allura';
    @import 'https://fonts.googleapis.com/css?family=Cookie';
    @import 'https://fonts.googleapis.com/css?family=Roboto:300,400';*/
body{
    margin: 0;
    font-family: "Open Sans",'Source Sans Pro', sans-serif;
    font-size: 18px;
    font-weight: 300;
    color: #292727;
}
h2{
  font-family: 'Josefin Sans';
}
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.container{
    max-width: 1200px;
    width: 100%;
}

.header{
    margin: 15px;
}

.profile{
    display: flex;
    align-items: center;
}

.profile .thumbnail{
    width: 50%;
    max-width: 200px;
    border: none;
}

.profile .thumbnail .image{
    width: 100%;
    border-radius: 50%;
}

.profile .info{
    margin-left: 20px;
    font-size: 18px;
}

.profile .info .name{
    font-size: 30px;
    font-weight: 600;
}

.profile .info .location{
    color: gray;
}

.content{
    margin: 15px;
}

.content .section{
    margin-bottom: 25px;
    width: 100%;
    float: left;
    padding-bottom: 10px;
    border-bottom: 1px solid #f1f1f1;
}

.section .title{
    font-size: 20px;
    font-weight: 600;
}

.list{
    margin-bottom: 15px;
    margin-top: 10px;
    width: 100%;
    float: left;
}

.list .title{
    font-size: 18px;
    border: none;
}

.list .subtitle{
    color: gray;
}

.link{
    width: 100%;
    float: left;
}



